.derecha {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }

    .dark-mode-boton {
        width: 3rem;
        margin: 1rem 0;
        filter: invert(100%);

        &:hover {
            cursor: pointer;
        }
    }
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.navegacion {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: visibilty 0.5s ease-in-out, 0.3s linear, height 0.5s linear;

    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        margin-top: 1rem;
        width: 3rem;
        cursor: pointer;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}